.custom-button {
    background-color: white;
    color: #ff2b06;
    border: 2px solid #ff2b06;
  }

  /* Assuming this is your CSS */
/* Assuming this is your CSS */
.nav-item.active .nav-link {
  color: #FF2B06; /* Your desired color */
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.standard-image {
  width: 173px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
}

.carousel-video {
  height: 650px;
  overflow: hidden; /* Adjust the height as needed */
}

.carousel-item {
  height: 750px; /* Set the desired fixed height */
}
.card {
  width: 30vw;
}
.ticket-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
}
.ticket-action{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.ticket-input{
  width: 100%;
}
.ticket-input input{
  width: 70%;
  height: 50px;
  border: 0;
  border-bottom: 1px solid gray;
}
.ticket-input input:focus{
  outline: none;
}
.ticket-input p{
  color: gray;

}
.modal-wrap{
  z-index: 3;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.checkboxes{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkboxes label > input{
  margin-right: 10px;
}
.numbers-of-tickets{
  display: flex;
  justify-content: center;
  gap: 18px;
}
.numbers-of-tickets p{
  font-weight: bold;
}

.carousel-image {
  object-fit: contain; /* Maintain image aspect ratio */
  max-height: 100%; /* Limit image height to fit within carousel item */
  max-width: 100%; /* Limit image width to fit within carousel item */
  display: block;
  margin: 0 auto; /* Center horizontally */
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
